.title-for-rooms{
  color: #374853;
  padding: 25px 0;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.single-type-room,
.double-type-room,
.deluxe-type-room,
.royal-type-room {
  width: 23%;
  margin: 5px;
  min-height: 100px;
  display:none;
  margin-bottom: 50px;

      label{
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        margin-top: 25px;
        display: inline-block;
        padding: 20px;
        border: 1px solid #deaa86;
        color: #374853;
      }
      input[type='radio']:checked + label{
        border-color: #374853;
      }
}
_:-ms-lang(x), .royal-type-room { display:block; }
.universal-room{
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  margin-top: 25px;
  display: inline-block;
  padding: 20px;
  border: 1px solid #deaa86;
  color: #374853;
}
.disabled-room{
  background-color: #374853;
  color: #6b6b6b;
  border-color: #374853;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  margin-top: 25px;
  display: inline-block;
  padding: 20px;
}
.booking-btn{
  color: #374853;
  width: 50%;
  order: 2;
}
.booking-btn:hover{
  border-color: #374853;
}
.booking-form{
  color: #374853;
  padding-top: 50px;
  margin: 25px 0;
  border: 1px solid #deaa86;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  width: 100%;
    input , select, textarea{
      display: block;
      width: 50%;
      height: 38px;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-radius: 2px;
      margin:10px;
      color: #374853;
    }
  .name-of-selected-room{
    text-align: center;
    font-size: 25px;
    border: none;
    outline: none;
  }

  input[type="text"]:disabled{
    background-color: #ffffff;
  }

}
.id-of-selected-room{
  display: none !important;
}
