@media screen and (max-width: 1170px){
  .container{
    width: auto;
    padding: 0 20px ;
  }
}

@media screen and (max-width: 800px){
  .navbar {
        .container {
          width: auto;
          padding: 0 20px;
          min-height: 85px;
        }
      }
  .nav-leftsubmenu, .nav-rightsubmenu{
    display: none;
  }
  .navbar-logo {
    left: 25px;
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  .nav-mobile{
    display: block;
  }
}
@media screen and (max-width: 768px){
  .deluxe-type-room, .double-type-room, .royal-type-room, .single-type-room{
    width: 40% !important;
  }
  body ,.btn{
    font-size: 12px;
  }
  #ui-datepicker-div ,.adult label, .child label{
    position: absolute;
    transform:translateX(-50%);
    left:50% !important;
    top: 0;
  }

  .forintro , .introduction{
    min-height: 500px;
  }
  .nav-contacts, .search-form{
    display: none;
  }
  .allinfoaboutus{
    flex-flow: wrap;
    justify-content: center;
  }
  .reservetion-form input, .social-items, .aboutpic, .room , .service , .arrivaldate, .departuredate, .adult , .child , .contactinfo , .contactform,.viewofroom ,.photoofserv, .listofserv{
    width: 100%;
  }
  .reservetion-form select{
    width: auto;
  }
  .adult , .child{
    margin-top: 15px;
    position: relative;
    padding-top: 20px;
  }
  .forintro h1{
    font-size: 65px;
  }
  .fastinfo{
    text-align: center;
  }
  .navbar-logo h3{
    font-size:25px;
  }
  h3{
    font-size:25px !important;
  }
  h2{
    font-size: 32px!important;
  }
  h4{
    font-size: 14px !important;
  }
  .photoofserv{
    padding-left: 15px;
  }
  .awards, .happyguests, .meals, .roomcount{
    width: 50%;
    padding: 15px;
  }
  .photoofserv h2{
    width: 100%;
    text-align: center;
  }
  .listofserv__item{
    padding-left: 15px;
  }
  .contactinfo{
    p{
      font-size: 34px;
    }
  }
  .typeofroom{
    justify-content: center;
  }
  .abouttext , .infoaboutroom{
    transform: translateY(-80px);
    width: 90%;
  }
  .footerlogo ,
  .room-detail{
    width: 100%;
    order:1;
  }
  .footerlinks,
  .sidebar{
    width: 100%;
    order: 2;
  }
  .footersubscription{
    width: 100%;
    order: 3;
  }
  .footercopyright{
    order:4;
  }
  .subscribe input[type="text"]{
    min-width: 50%;
  }
  .footersubscription p{
    width: 50%;
  }
  .subscribesubmit{
    right: 50%;
  }
  .quote p{
    padding: 15px;
  }
}
@media screen and (max-width:570px){
  .listofserv__item{
    width: 100%;
    text-align: center;
  }
  .awards, .happyguests, .meals, .roomcount{
    width: 100%;
    padding: 15px;
  }
  .room figure:hover h3{
    padding-top: 15px;
  }
}
@media screen and (max-width: 490px){

  .deluxe-type-room, .double-type-room, .royal-type-room, .single-type-room{
    min-width: 98% !important;
  }
  .name-of-selected-room{
    font-size: 14px;
  }
  .container , .abouttext{
    padding:10px;
  }
  .awards p , .happyguests p , .meals p , .roomcount p{
    font-size: 45px;
  }
  .homeaboutus, .homerooms{
    min-height: 300px;
  }
  .homeaboutus p,.homeaboutus ul, .homeaboutus h1, .homerooms p, .homerooms ul , .homerooms h1{
    padding-left: 15px;
  }
  body {
    font-size: 10px;
  }
  .btn{
    font-size: 10px;
    padding: 15px;
    width: 165px;
  }
  .name-room-price span{
    font-size: 12px;
  }
  .infoaboutroom{
    padding: 10px;
  }
  .features{
    width: 100%;
    margin-bottom: 0;
    margin-left: 0;
  }
  .room p{
    margin-bottom: 5px;
  }
  .room figure:hover h3{
    padding-top: 0;
  }
  h3{
    font-size:14px !important;
  }
  h2{
    font-size: 25px!important;
  }
  h4{
    font-size: 12px !important;
  }
  .contacts p{
    padding: 0;
  }

}