@media screen and (max-width: 1170px){
  .container{
    width: auto;
    padding: 0 20px ;
  }
}

@media screen and (max-width: 800px){
  .navbar {
        .container {
          width: auto;
          padding: 0 20px;
          min-height: 85px;
        }
      }
  .nav-leftsubmenu, .nav-rightsubmenu{
    display: none;
  }
  .navbar-logo {
    left: 25px;
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  .nav-mobile{
    display: block;
  }
}
@media screen and (max-width: 768px){
  .nav-contacts, .search-form{
    display: none;
  }
  .allinfoaboutus{
    flex-flow: wrap;
    justify-content: center;
  }
  .social-items, .aboutpic, .room , .service , .arrivaldate, .departuredate, .adult , .child , .contactinfo , .contactform,.viewofroom ,.photoofserv, .listofserv{
    width: 100%;
  }
  .photoofserv{
    padding-left: 15px;
  }
  .awards, .happyguests, .meals, .roomcount{
    width: 50%;
    padding: 15px;
  }
  .photoofserv h2{
    width: 100%;
    text-align: center;
  }
  .listofserv__item{
    padding-left: 15px;
  }
  .contactinfo{
    p{
      font-size: 34px;
    }
  }
  .typeofroom{
    justify-content: center;
  }
  .abouttext , .infoaboutroom{
    transform: translateY(-80px);
    width: 90%;
  }
  .footerlogo ,
  .room-detail{
    width: 100%;
    order:1;
  }
  .footerlinks,
  .sidebar{
    width: 100%;
    order: 2;
  }
  .footersubscription{
    width: 100%;
    order: 3;
  }
  .footercopyright{
    order:4;
  }
  .subscribe {
     input{
       min-width:50%;
     }
  }
  .subscribesubmit{
    right: 50%;
  }
  .quote p{
    padding: 15px;
  }
}

@media screen and (max-width: 490px){
  .listofserv__item{
    width: 100%;
    text-align: center;
  }
  .awards, .happyguests, .meals, .roomcount{
    width: 100%;
    padding: 15px;
  }
  .room figure:hover h3{
    padding-top: 15px;
  }
}