@media screen and (max-width: 1170px){
  .container{
    width: auto;
    padding: 0 20px ;
  }
}

@media screen and (max-width: 800px){
  .navbar {
        .container {
          width: auto;
          padding: 0 20px;
          min-height: 85px;
        }
      }
  .nav-leftsubmenu, .nav-rightsubmenu{
    display: none;
  }
  .navbar-logo {
    left: 25px;
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  .nav-mobile{
    display: block;
  }
}
@media screen and (max-width: 768px){
  .nav-contacts, .search-form{
    display: none;
  }
  .allinfoaboutus{
    flex-flow: wrap;
    justify-content: center;
  }
  .social-items, .aboutpic, .room , .service , .arrivaldate, .departuredate, .adult , .child , .contactinfo , .contactform{
    width: 100%;
  }
  .contactinfo{
    p{
      font-size: 34px;
    }
  }
  .abouttext{
    transform: translateY(-80px);
    width: 90%;
  }
}