<div class="footer">
    <div class="container">
        <div class="footerlinks">
            <ul>
                <li><a href="aboutus.html">ABOUT</a></li>
                <li><a href="#">SUPPORT</a></li>
                <li><a href="#">PRIVACY POLICY</a></li>
                <li><a href="#">TERMS & CONDITIONS</a></li>
            </ul>
        </div>
        <div class="footerlogo">
            <h2 class="footer__logo">Vonafo Hotel</h2>
            <p class="footer__sublogo">GRAND</p>
            <ul class="socialicons">
                <li><a href="https://twitter.com/vonafo"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
            </ul>
        </div>
        <div class="footersubscription">
            <h3>NEWSLETTER</h3>
            <p>Subscribe to our email newsletter to receive updates and news</p>
            <form class="subscribe">
                <input type="text" placeholder="E-mail address">
                <button class="subscribesubmit" type="submit"><i class="far fa-paper-plane"></i></button>
            </form>
        </div>
        <div class="footercopyright">
            <hr>
            <p>© 2018 Vonafo Grand Hotel. All rights reserved.</p>
        </div>
    </div>
</div>