<section class="home homeaboutus">
    <div class="container"><h1>Our rooms</h1>
        <ul class="breadcrumbs">
            <li><a href="index.html">Home</a></li>
            <li class="active-breadcrumb">About us</li>
        </ul>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
</section>
<div class="container">
    <section class="aboutus">
    <div class="container forcenter">
        <div class="sectiontitle">
            <h2>WELCOME TO <span>VONAFO HOTEL</span></h2>
            <div class="divider">
                <hr class="lineone">
                <hr class="linetwo">
                <hr class="lineone">
            </div>
        </div>
    </div>
    <div class="allinfoaboutus">
        <div class="aboutpic">
            <img src="img/aboutimg.jpg" alt="">
        </div>
        <div class="abouttext">
            <p class="subtitle">ABOUT US</p>
            <h3>Probably the best place to enjoy your life</h3>
            <p class="about">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence. When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary.</p>
            <h4 class="quate">The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.</h4>
        </div>
    </div>
</section>
</div>
<section class="ourstats">
    <div class="container">
        <div class="happyguests">
            <p>100</p>
            <h3>Happy guests</h3>
        </div>
        <div class="roomcount">
            <p>16</p>
            <h3>Rooms</h3>
        </div>
        <div class="awards">
            <p>7</p>
            <h3>Awards</h3>
        </div>
        <div class="meals">
            <p>999</p>
            <h3>Meal served</h3>
        </div>
    </div>
</section>
<section class="fullservices">
    <div class="container">
        <div class="photoofserv">
            <h2>Our <span>services</span></h2>
            <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc.</p>
            <div class="autoslider" >
                <img class="mySlides" src="img/single_room.jpg">
                <img class="mySlides" src="img/double_room.jpg">
                <img class="mySlides" src="img/deluxe_room.jpg">
            </div>
        </div>
        <div class="listofserv">
            <div class="listofserv__item">
                <i class="fas fa-car"></i>
                <h3>Parking</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit dolor magnam quas cumque.</p>
            </div>
            <div class="listofserv__item">
                <i class="fas fa-bicycle"></i>
                <h3>Fitness Hall</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit dolor magnam quas cumque.</p>
            </div>
            <div class="listofserv__item">
                <i class="fas fa-utensils"></i>
                <h3>Restaurant</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit dolor magnam quas cumque.</p>
            </div>
            <div class="listofserv__item">
                <i class="fas fa-sun"></i>
                <h3>Spa center</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit dolor magnam quas cumque.</p>
            </div>
        </div>
    </div>
</section>
<section class="quote">
    <div class="container">
    <i class="fas fa-cloud"></i>
    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
    <h3>by Thomas Ford</h3>
    </div>
</section>