<div class="main">
    <section class="home">
        <div class="container forintro">
            <div class="introduction">
                <h1>Vonafo Hotel</h1>
                <p class="justtest">Grand</p>
                <div class="divider">
                    <hr class="lineone">
                    <hr class="linetwo">
                    <hr class="lineone">
                </div>
                <p class="fastinfo">In our hotel you will find everything you need to enjoy your vacation</p>
                <a class="explore" href="">EXPLORE IT</a>
            </div>
        </div>
    </section>
    <section class="aviability">

    </section>
</div>