<div class="main">
    <section class="home">
        <div class="container forintro">
            <div class="introduction">
                <h1>Vonafo Hotel</h1>
                <p class="justtest">Grand</p>
                <div class="divider">
                    <hr class="lineone">
                    <hr class="linetwo">
                    <hr class="lineone">
                </div>
                <p class="fastinfo">In our hotel you will find everything you need to enjoy your vacation</p>
                <a class="btn btnbrown" href="">EXPLORE IT</a>
            </div>
        </div>
    </section>
    <section class="aviability">
        <div class="container">
            <form action="" class="reservetion-form">
                <div class="arrivaldate">
                    <label for="reservation__check-in">ARRIVAL DATE</label>
                    <input type="text" id="reservation__check-in" value="1 January 2018">
                </div>
                <div class="departuredate">
                    <label for="reservation__check-out">DEPARTURE DATE</label>
                    <input type="text" id="reservation__check-out" value="31 January 2018">
                </div>
                <div class="adult">
                    <label for="adults">Adults</label>
                    <select id="adults" >
                        <option value="1 Adult">1 Adult</option>
                        <option value="2 Adult">2 Adult</option>
                        <option value="3 Adult">3 Adult</option>
                    </select>
                </div>
                <div class="child">
                    <label for="children">Children</label>
                    <select id="children" >
                        <option value="none">None</option>
                        <option value="1 Children">1 Children</option>
                        <option value="2 Children">2 Children</option>
                    </select>
                </div>
            </form>
        </div>
    </section>
    <section class="aboutus">
        <div class="container forcenter">
            <div class="sectiontitle">
                <h2>WELCOME TO <span>VONAFO HOTEL</span></h2>
                <div class="divider">
                    <hr class="lineone">
                    <hr class="linetwo">
                    <hr class="lineone">
                </div>
            </div>
        </div>
        <div class="allinfoaboutus">
        <div class="aboutpic">
            <img src="img/aboutimg.jpg" alt="">
        </div>
        <div class="abouttext">
            <p class="subtitle">ABOUT US</p>
            <h3>Probably the best place to enjoy your life</h3>
            <p class="about">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence. When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary.</p>
            <h4 class="quate">The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.</h4>
            <a class="btn btnblack" href="">LEARN MORE</a>
        </div>
        </div>
    </section>
    <section class="rooms">
        <div class="sectiontitle forcenter">
            <h2>OUR <span>BEST ROOMS</span></h2>
            <div class="divider">
                <hr class="lineone">
                <hr class="linetwo">
                <hr class="lineone">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit dicta quae natus quasi ratione quis id, tenetur atque blanditiis.</p>
        </div>
        <div class="container">
            <div class="room">
                <figure>
                    <img src="img/single_room.jpg" alt="">
                    <figcaption>
                        <h3>Single room</h3>
                        <div class="roomprice"> 50$/<span>night</span></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit dicta quae natus quasi ratione quis id, tenetur atque blanditiis.</p>
                        <a href="">BOOK NOW</a>
                    </figcaption>
                </figure>
            </div>
            <div class="room">
                <figure>
                    <img src="img/double_room.jpg" alt="">
                    <figcaption>
                        <h3>Double room</h3>
                        <div class="roomprice"> 135$/<span>night</span></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit dicta quae natus quasi ratione quis id, tenetur atque blanditiis.</p>
                        <a href="">BOOK NOW</a>
                    </figcaption>
                </figure>
            </div>
            <div class="room">
                <figure>
                    <img src="img/deluxe_room.jpg" alt="">
                    <figcaption>
                        <h3>Deluxe room</h3>
                        <div class="roomprice">240$/<span>night</span></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit dicta quae natus quasi ratione quis id, tenetur atque blanditiis.</p>
                        <a href="">BOOK NOW</a>
                    </figcaption>
                </figure>
            </div>
            <div class="room">
                <figure>
                    <img src="img/royal_room.jpg" alt="">
                    <figcaption>
                        <h3>Royal room</h3>
                        <div class="roomprice">320$/<span>night</span></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit dicta quae natus quasi ratione quis id, tenetur atque blanditiis.</p>
                        <a href="">BOOK NOW</a>
                    </figcaption>
                </figure>
            </div>
        </div>
        <a class="btn btnblack" href="">SEE ALL ROOMS</a>
    </section>
    <section class="services">
        <div class="service">
            <h2>Parking</h2>
            <div class="dividerservice">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel temporibus adipisci mollitia ducimus facilis nesciunt at minima magni optio, dignissimos, neque dolore iste labore dolor enim, ipsam quisquam, quae nihil!</p>
        </div>
        <div class="service">
            <h2>Fitness hall</h2>
            <div class="dividerservice">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel temporibus adipisci mollitia ducimus facilis nesciunt at minima magni optio, dignissimos, neque dolore iste labore dolor enim, ipsam quisquam, quae nihil!</p>
        </div>
        <div class="service">
            <h2>Restaurant</h2>
            <div class="dividerservice">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel temporibus adipisci mollitia ducimus facilis nesciunt at minima magni optio, dignissimos, neque dolore iste labore dolor enim, ipsam quisquam, quae nihil!</p></div>
        <div class="service">
            <h2>Spa center</h2>
            <div class="dividerservice">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel temporibus adipisci mollitia ducimus facilis nesciunt at minima magni optio, dignissimos, neque dolore iste labore dolor enim, ipsam quisquam, quae nihil!</p>
        </div>
    </section>
    <section class="contacts">
        <div class="sectiontitle forcenter">
            <h2><span>CONTACT</span> US</h2>
            <div class="divider">
                <hr class="lineone">
                <hr class="linetwo">
                <hr class="lineone">
            </div>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2137.36950789764!2d30.562907556545312!3d50.42666311274204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf76e65d4dad%3A0x247b398f405dff8f!2z0JHQsNGC0YzQutGW0LLRidC40L3QsC3QnNCw0YLQuA!5e0!3m2!1sru!2sua!4v1530008278993" frameborder="0" style="border:0" allowfullscreen></iframe>
        <div class="container">
            <div class="contactinfo">
                <div class="contactinfonest">
                    <p class="subtitle">INFORMATION</p>
                    <ul class="contactlist">
                        <li><i class="fas fa-map-marker-alt"></i>
                            <div class="contactcontent">
                                <h4>ADDRESS</h4>
                                <a>10987 1st Avenue, Lorem City, CA</a>
                            </div>
                        </li>
                        <li><i class="fas fa-phone"></i>
                            <div class="contactcontent">
                                <h4>PHONE / FAX</h4>
                                <a href="callto:+45 789 123 4544">+45 789 123 4544 / +45 789 123 4848</a>
                            </div>
                        </li>
                        <li><i class="fas fa-envelope"></i>
                            <div class="contactcontent">
                                <h4>E-MAIL</h4>
                                <a href="mailto:alex.vonafo@gmail.com">alex.vonafo@gmail.com</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <p class="subheading">If you have any questions don't hesistate to contact us.</p>
            </div>
            <div class="contactform">
                <p class="subtitle">GET IN TOUCH</p>
                <form action="" class="feedbackform">
                    <input type="email" name="email"  placeholder="Enter your email address">
                    <input type="text" name="name"   placeholder="Enter your name">
                    <textarea name="message" rows="6" placeholder="Enter your message"></textarea>
                </form>
            </div>
        </div>
    </section>
</div>