<section class="home homerooms">
    <div class="container"><h1>Our rooms</h1>
    <ul class="breadcrumbs">
        <li><a href="index.html">Home</a></li>
        <li class="active-breadcrumb">Rooms</li>
    </ul>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
</section>
<section class="pages">
    <div class="container">
        <div class="typeofroom">
        <div class="viewofroom">
            <img src="img/single_room.jpg" alt="">
        </div>
        <div class="infoaboutroom">
            <div class="nameofroom">
                <h2>Single room</h2>
                <p>50$/<span>night</span></p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil dolorem illum vitae facere doloremque quas voluptates dolore.</p>
            <ul class="features">
                <li><i class="fas fa-sun"></i>ONE KING BED</li>
                <li><i class="fas fa-sun"></i>BREAKFAST</li>
                <li><i class="fas fa-sun"></i>AIR CONDITIONING</li>
            </ul>
            <ul class="features">
                <li><i class="fas fa-sun"></i>MINI BAR</li>
                <li><i class="fas fa-sun"></i>WI-FI</li>
                <li><i class="fas fa-sun"></i>LCD TV</li>
            </ul>
            <a class="btn btnblack" href="">VIEW DETAILS</a>
        </div>
    </div>
        <div class="typeofroom">
            <div class="viewofroom">
                <img src="img/double_room.jpg" alt="">
            </div>
            <div class="infoaboutroom">
                <div class="nameofroom">
                    <h2>Double room</h2>
                    <p>135$/<span>night</span></p>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil dolorem illum vitae facere doloremque quas voluptates dolore.</p>
                <ul class="features">
                    <li><i class="fas fa-sun"></i>ONE KING BED</li>
                    <li><i class="fas fa-sun"></i>BREAKFAST</li>
                    <li><i class="fas fa-sun"></i>AIR CONDITIONING</li>
                </ul>
                <ul class="features">
                    <li><i class="fas fa-sun"></i>MINI BAR</li>
                    <li><i class="fas fa-sun"></i>WI-FI</li>
                    <li><i class="fas fa-sun"></i>LCD TV</li>
                </ul>
                <a class="btn btnblack" href="">VIEW DETAILS</a>
            </div>
        </div>
        <div class="typeofroom">
            <div class="viewofroom">
                <img src="img/deluxe_room.jpg" alt="">
            </div>
            <div class="infoaboutroom">
                <div class="nameofroom">
                    <h2>Deluxe room</h2>
                    <p>240$/<span>night</span></p>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil dolorem illum vitae facere doloremque quas voluptates dolore.</p>
                <ul class="features">
                    <li><i class="fas fa-sun"></i>ONE KING BED</li>
                    <li><i class="fas fa-sun"></i>BREAKFAST</li>
                    <li><i class="fas fa-sun"></i>AIR CONDITIONING</li>
                </ul>
                <ul class="features">
                    <li><i class="fas fa-sun"></i>MINI BAR</li>
                    <li><i class="fas fa-sun"></i>WI-FI</li>
                    <li><i class="fas fa-sun"></i>LCD TV</li>
                </ul>
                <a class="btn btnblack" href="">VIEW DETAILS</a>
            </div>
        </div>
        <div class="typeofroom">
            <div class="viewofroom">
                <img src="img/royal_room.jpg" alt="">
            </div>
            <div class="infoaboutroom">
                <div class="nameofroom">
                    <h2>Royal room</h2>
                    <p>320$/<span>night</span></p>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil dolorem illum vitae facere doloremque quas voluptates dolore.</p>
                <ul class="features">
                    <li><i class="fas fa-sun"></i>ONE KING BED</li>
                    <li><i class="fas fa-sun"></i>BREAKFAST</li>
                    <li><i class="fas fa-sun"></i>AIR CONDITIONING</li>
                </ul>
                <ul class="features">
                    <li><i class="fas fa-sun"></i>MINI BAR</li>
                    <li><i class="fas fa-sun"></i>WI-FI</li>
                    <li><i class="fas fa-sun"></i>LCD TV</li>
                </ul>
                <a class="btn btnblack" href="">VIEW DETAILS</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="pagination">
            <ul>
                <li><a href="#"><i class="fas fa-angle-double-left"></i></a></li>
                <li><a class="active-page" href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#"><i class="fas fa-angle-double-right"></i></a></li>
            </ul>
        </div>
    </div>
</section>