<div class="container">
    <h2 class="title-for-rooms">select the room for your vacation</h2>
    <div class="blue">
    <input type="radio" id="single-room-1" name="room">
    <label for="single-room-1">Single room</label>
    <input type="radio" id="single-room-2" name="room">
    <label for="single-room-2">Single room</label>
    <input type="radio" id="single-room-3" name="room">
    <label for="single-room-3">Single room</label>
    <input type="radio" id="single-room-4" name="room">
    <label for="single-room-4">Single room</label>
    </div>
    <div class="red">
    <input type="radio" id="double-room-1" name="room">
    <label for="double-room-1">Double room</label>
    <input type="radio" id="double-room-2" name="room">
    <label for="double-room-2">Double room</label>
    <input type="radio" id="double-room-3" name="room">
    <label for="double-room-3">Double room</label>
    <input type="radio" id="double-room-4" name="room">
    <label for="double-room-4">Double room</label>
</div>
    <div class="yellow">
    <input type="radio" id="deluxe-room-1" name="room">
    <label for="deluxe-room-1">Deluxe room</label>
    <input type="radio" id="deluxe-room-2" name="room">
    <label for="deluxe-room-2">Deluxe room</label>
    <input type="radio" id="deluxe-room-3" name="room">
    <label for="deluxe-room-3">Deluxe room</label>
    <input type="radio" id="deluxe-room-4" name="room">
    <label for="deluxe-room-4">Deluxe room</label>
</div>
    <div class="green">
    <input type="radio" id="royal-room-1" name="room">
    <label for="royal-room-1">royal room</label>
    <input type="radio" id="royal-room-2" name="room">
    <label for="royal-room-2">royal room</label>
    <input type="radio" id="royal-room-3" name="room">
    <label for="royal-room-3">royal room</label>
    <input type="radio" id="royal-room-4" name="room">
    <label for="royal-room-4">royal room</label>
</div>
</div>