<section class="text-header">
    <h1>Deluxe double room</h1>
    <div class="divider">
        <hr class="lineone">
        <hr class="linetwo">
        <hr class="lineone">
    </div>
</section>
<div class="container">
<section class="room-detail">
    <div class="badge-slider" >
        <img class="mySlider" src="img/single_room.jpg" alt="img">
        <img class="mySlider" src="img/double_room.jpg" alt="img">
        <img class="mySlider" src="img/deluxe_room.jpg" alt="img">
        <div class="slider-navigation">
            <span class="badge" onclick="currentDiv(1)"></span>
            <span class="badge" onclick="currentDiv(2)"></span>
            <span class="badge" onclick="currentDiv(3)"></span>
        </div>
    </div>
    <div class="name-room-price">
        <h2>Deluxe double room</h2>
        <p><span>135$/</span>night</p>
    </div>
    <p class="subtitle">ROOM DESCRIPTION</p>
    <p class="textaboutroom">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence. When, while the lovely valley teems with vapour around me and the meridian.</p>
    <p class="textaboutroom">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
    <a class="btn btnblack" href="reservation.html">Book this room now</a>
</section>
<section class="sidebar">
    <div class="sidebar-item">
        <p class="subtitle">ROOM FEATURES</p>
        <ul class="sidebar__features">
            <li><i class="fas fa-sun"></i>ONE KING BED</li>
            <li><i class="fas fa-sun"></i>BREAKFAST</li>
            <li><i class="fas fa-sun"></i>AIR CONDITIONING</li>
            <li><i class="fas fa-sun"></i>MINI BAR</li>
            <li><i class="fas fa-sun"></i>WI-FI SERVICE</li>
            <li><i class="fas fa-sun"></i>FREE PARKING</li>
        </ul>
    </div>
    <div class="sidebar-item">
        <p class="subtitle">SIMILAR ROOMS</p>
        <a href=""><figure>
            <img src="img/double_room.jpg" alt="img">
            <figcaption>
                <h3>Double room</h3>
                <p class="sidebar__price">135$/<span>night</span></p>
            </figcaption>
        </figure></a>
        <a href=""><figure>
            <img src="img/royal_room.jpg" alt="img">
            <figcaption>
                <h3>Royal room</h3>
                <p class="sidebar__price">240$/<span>night</span></p>
            </figcaption>
        </figure></a>
        <a href=""><figure>
            <img src="img/single_room.jpg" alt="img">
            <figcaption>
                <h3>Single room</h3>
                <p class="sidebar__price">60$/<span>night</span></p>
            </figcaption>
        </figure></a>
    </div>
</section>
</div>